body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: red;
}
header 
{
  align-content: center;
}
img
{
  align-content: center;
  font-size: 
}
nav{
  align-content: center;
}
a
{
 padding: 10px; 
}
